<section>
  <header>
    <div>
      <img src="/stanbic.png" width="200" height="200" alt="hero" />
      <img src="/3d.png" width="300" height="300" alt="hero" />
    </div>
    <div>
      <div>
        <h1>
          <strong
            >Get started with your financial <br />
            auditing journey</strong
          >
        </h1>
        <p>
          Expert financial auditing services ensuring accuracy,<br />
          compliance, and transparency to identify risks,<br />
          improve performance, and safeguard your business.
        </p>
      </div>
    </div>
  </header>
  <footer>
    <app-nav-bar />
  </footer>
</section>
